<div class="card flex justify-content-center">
  <p-multiSelect
    [options]="groupedItems"
    [group]="true"
    [(ngModel)]="selectedCities"
    placeholder="Capítulos y Mercancías"
    scrollHeight="250px"
    display="chip"
  >
    <ng-template let-group pTemplate="group">
      <div class="flex align-items-center">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
          [class]="'mr-2 flag flag-' + group.value"
          style="width: 20px"
        />
        <span>{{ group.label }}</span>
      </div>
    </ng-template>
  </p-multiSelect>
</div>
