<app-header></app-header>

<section>
  <router-outlet></router-outlet>
  <section class="flex flex-column align-items-center mt-6">
    <div class="flex flex-column">
      <h2 class="text-center">Búsqueda de Empresas</h2>
      <app-companies-multiselect class="m-4"></app-companies-multiselect>
    </div>
    <div class="flex flex-column">
      <h2 class="text-center">Búsqueda de Puertos</h2>
      <app-ports-multiselect class="m-4"></app-ports-multiselect>
    </div>
    <div class="flex flex-column">
      <h2 class="text-center">Búsqueda de Mercancías</h2>
      <app-merchandise-multiselect class="m-4"></app-merchandise-multiselect>
    </div>
  </section>

  <!-- <multi-select-group></multi-select-group>
  <chips></chips> -->
</section>
